
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007c89;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    color: #007c89;
}

section {
    padding: 20px;
}

.category-list, .product-list {
    display: flex;
    justify-content: space-around;
}

.category-item, .product-item {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
